@use "../../src/styles/partials/variables" as *;

.sign-up {
  padding: 0 5rem;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 540px;
  color: #ffffff;
  padding: 0 30px;
  border-radius: 5px;
}

.sign-up__heading {
  margin: 2rem 0;
}

.sign-up__text {
  margin-top: 0;
  margin-bottom: 2rem;
}

.sign-up__input-box {
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.162);
}

.sign-up__button {
  background-color: $button-color;
  color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  border: none;
}

.sign-up__wrapper {
  display: flex;
  flex-direction: column;
  width: 393px;
}

.sign-up__link {
  color: grey;
}

.sign-up__two-boxes-wrapper {
  display: flex;
  justify-content: space-between;
  input {
    width: 49%;
  }
}
