@use "../../styles/partials/variables" as *;

.header {
  background-color: white;
  min-height: 70px;
  padding: 0px 30px;
  position: relative;

  &__wrapper {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__nav-left {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 70px;
  }

  &__nav-right {
    display: flex;
    align-items: center;
  }
}

.nav--item {
  font-size: 15px;
  padding: 6px 16px;
  position: relative;
}

.logo--header {
  width: 8rem;
  position: absolute;
}
