@use "../../styles/partials/variables" as *;

.sign-up {
  padding: 0 140px;
}

.sign-up__big-wrapper {
  width: 45%;
  margin-top: 3rem;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  border-radius: 5px;
}

.sign-up__input-box {
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.162);
}

.sign-up__button {
  background-color: $button-color;
  color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  border: none;
}

.sign-up__wrapper {
  display: flex;
  flex-direction: column;
  width: 393px;
}

.sign-up__link {
  color: grey;
}

.sign-up__two-boxes-wrapper {
  display: flex;
  justify-content: space-between;
  input {
    width: 49%;
  }
  label {
    color: black;
  }
}

// .sign-up__logo-wrap {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-bottom: 4rem;
// }

.sign-up__text-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.sign-up__heading {
  margin-bottom: 2rem;
}

.sign-up__link {
  color: red;
  text-decoration: none;
  margin-left: auto;
}

.sign-up__big-flex {
  display: flex;
  justify-content: space-between;
}

.sign-up__big-image {
  width: 45%;
}

.sign-up__input-box--error {
  border: 1px solid red;
}
